html {
    box-sizing: border-box;
    background: linear-gradient(135deg, #43C6AC 0%, #191654 100%) no-repeat;
    background-size: cover;
    min-height: 100vh;
}

*, *:before, *:after {
    box-sizing: inherit;
}
.container {
    margin-top: 40px;
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
    margin:auto;
    width:750px;
    height:770px;
    border-radius:20px;
}
.photobooth {
    margin: 20px auto;
}
.photobooth:after {
    content: '';
    display: block;
    clear: both;
}
.photo {
    width: 100%;
    margin: 20px;
    border-radius: 10px;
}
.player {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 300px;
}
.strip {
    padding: 2rem;
}
.strip img {
    width: 100px;
    overflow-x: scroll;
    padding: 0.8rem, 0.8rem, 2.5rem, 0.8rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background: white;
}

.rgb {
    margin : 10px;
    font-size: 20px;
}

#takePhoto {
    margin-top: 40px;
    cursor: pointer;
    background: none;
    border: none;
}

.strip a:nth-child(5n+1) img { transform: rotate(10deg); }
.strip a:nth-child(5n+2) img { transform: rotate(-2deg); }
.strip a:nth-child(5n+3) img { transform: rotate(8deg); }
.strip a:nth-child(5n+4) img { transform: rotate(-11deg); }
.strip a:nth-child(5n+5) img { transform: rotate(12deg); }
